{% extends 'htmlfile/base.html' %}
{% block title%} blogs |posts|Arjitech{% endblock %}
{% block body %}
{% load static %}
<h2 class="section__header">Arjitech Blogpost's</h2>

<div class="container-fluid mb-5 mt-5  ">
  <div class="row">
    <div class="col-md-8" style="padding-right: 0px; padding-left: 20px;">
      <div class="section-left" style="width: 80%; float: left;">

        <h1 style="color:rgba(120, 164, 27, 0.879);"><i>{{post.title}}</i></h1>
        <h5>By <b>{{post.author}}</b></h5>
        <h6>{{post.timeStamp}}</h6>
        <p class="mt-2">{{post.Content}}</p>
        <p>{{post.Content2}}</p>

        <div class="container mb-5">
          <img src="/media/{{post.image}}" class="img-fluid" alt="...">
        </div>
        <h3>{{post.head0}}</h3>

        <p>{{post.para0}}</p>
        <p>{{post.para1}}</p>
      </div>

    </div>
    <div class="col-md-4" style="padding-left: 5;">
      <div class="section-right" style="width: 60%; float: left;">
        <hr>
        <h5>About Us❤️</h5>
        <p>This is the content of section 2. It occupies 30% of the width Lorem ipsum dolor sit amet consectetur
          adipisicing elit. </p>
        <a href="http:/about/">Explore</a>
        <hr>
        <div class="section_sourcecode">
          <div class="sourcecode">
            <h5>Sourcecode</h5>
            <p>Empower your vision with our modern UI, fueled by your source code's brilliance. Experience innovation
              seamlessly woven into captivating design.Together, we'll redefine user engagement, setting new standards
              of excellence.</p>
            <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold"><a href="courses/webtemplates/">Web Templates</a></div>
                  Future degine of site.
                </div>
                <span class="badge bg-primary rounded-pill">2</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold"><a href="courses/webtemplates/">Cards</a></div>
                  Modern degine list items.
                </div>
                <span class="badge bg-primary rounded-pill">5</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold"><a href="courses/webtemplates/">navbar</a></div>
                  New degine navbar list item.
                </div>
                <span class="badge bg-primary rounded-pill">3</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold"><a href="courses/webtemplates/">Forms</a></div>
                  Forms for list item.
                </div>
                <span class="badge bg-primary rounded-pill">3</span>
              </li>
            </ol>
          </div><br>
          <a href="http:/course/">Explore More</a>
          <hr>
        </div>
        <div class="section_moreblogs">
          <h5>More blogs</h5>
          <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold text-success">New Coding Updates</div>
                Content for list item
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold text-success">Sports</div>
                Content for list item
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold text-success">2024 Important</div>
                Content for list item
              </div>
            </li>
          </ol>
        </div>
        <hr>
        <div class="section_contactus">
          <h5>Contact us❤️</h5>
          <p> Have questions or feedback? Contact our dedicated support team for prompt assistance!</p>
          <a href="http:/contact/">Join Us :</a>
          <div class="footer__socials">
            <a href="https://www.facebook.com/profile.php?id=100077103085265&locale=hi_IN"><i
                class="fa-brands fa-facebook"></i></a>
            <a href="https://github.com/Arjitshukla"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/__imarjit/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/arjit-shukla-484911275/"><i class="fa-brands fa-linkedin"></i></a><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}