{% extends 'htmlfile/base.html' %}
{% block title%} index{% endblock %}
{% block header %}

<div class="section__container header__container">
  <div class="header__content">
    <p>black Dream ❤️</p>
    <h1>WELCOME GHOSTS<br />UI FIGHTER<br />BUILD LOGICS</h1>
    <div class="header__btn">
      <a href="/contact/">
        <button class="button-70" role="button">Join me </button></a>
      <a href="/blog/">
        <button class="button-70" role="button">Explore Blog </button></a>
      <div class="footer__socials">
        <a href="https://www.facebook.com/profile.php?id=100077103085265&locale=hi_IN"><i
            class="fa-brands fa-facebook"></i></a>
        <a href="https://github.com/Arjitshukla"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/__imarjit/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/arjit-shukla-484911275/"><i class="fa-brands fa-linkedin"></i></a><br>
      </div>
    </div>
  </div>
</div>
{% endblock header %}
{% block body %}
{% load static %}
<section class="section__container aboutus__container">
  <div class="about__image">
    <img src="/static/assets/aboutus.jpg" alt="about image" />
  </div>
  <div class="about__content">
    <h2 class="section__header">Why Choose<br /><span>Web developer</span></h2>
    <p class="section__description">
      Welcome to Arjitech, your one-stop destination for top-notch website design, logo creation, and full-stack Python
      development services! At Arjitech, we specialize in crafting visually stunning and highly functional websites that
      cater to your unique needs and preferences. Our team of skilled designers and developers is dedicated to
      delivering projects that exceed expectations and leave a lasting impression. With our expertise in logo design, we
      create captivating visual identities that resonate with your brand's essence and leave a lasting impact on your
      audience. Whether you're a startup looking to establish your identity or an established business seeking a brand
      refresh, Arjitech is here to bring your vision to life.
    </p>
    <p class="section__description">
      Arjitech, we believe in empowering our clients with knowledge and resources. That's why we provide comprehensive
      source code for all our projects, allowing you to understand, customize, and extend your solutions with ease. With
      access to real-world examples and best practices, you can take your projects to new heights and stay ahead of the
      curve in today's competitive landscape. Whether you're looking to revamp your online presence, create a
      captivating brand identity, or develop cutting-edge applications, Arjitech is your trusted partner every step of
      the way.
    </p>
    <a href="/about/">
      <button class="button-70" role="button"><span>Explore More</span> </button></a>
  </div>
</section>
<section class="section section-freelancer ">
  <div class="overlay"></div>
  <div class="container">
    <h2>I am <span> available </span> for WEB DEGINER</h2>
    <p>I will be your professional full stack django web developer </p>
    <a href="/contact.html/" class="type">
      <button class="button-70" role="button"><span>Hire me</span></button></a>
  </div>
</section>

<section class="section__container courses__container mb-3" id="courses">
  <h2 class="section__header">Courses</h2>
  <div class="courses__grid">
    {% for course in newcourse %}
    <div class="courses__card">
      <img style='max-width:400px;max-height:180px' src="/media/{{course.course_image}}" alt="courses" />
      <div class="courses__content">
        <h5>{{course.time}}</h5>
        <h4>{{course.title}}</h4>
        <p>{{course.Content|slice:"100"}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
  <a href="/courses/" class="type">
    <button class="button-70" role="button"><span>Explore More</span></button></a>
</section>

<section class="feature" id="feature">
  <div class="section__container feature__container">
    <h4>"It's not about fitting in... It's about you, your ride, your journey."</h4>
    <div class="feature__grid">
      <div class="feature__content">
        <div>
          <p>"Welcome to Arjitech, where imagination meets innovation and pixels come to life. Your journey with us is a
            canvas of endless possibilities, Together,let's design dreams into reality and redefine the boundaries of
            possibility. Embark on your extraordinary
            journey with Arjitech, where the best is yet to come."</p>
        </div>
      </div>
      <div class="feature__video"><video src="{% static 'assets/Arjitech.mp4' %}" muted loop autoplay></video>
      </div>
    </div>
  </div>
</section>

{% comment %} blog {% endcomment %}
<section class="section__container blogs__container" id="blogs">
  <div class="section__header">Recent News & Blogs </div>
  <div class="blogs__grid">
    {% for post in newblog %}
    <div class="blogs__card blog__card">
      <img style='max-width:400px;max-height:200px' src=" /media/{{post.image}}" alt="blog" />
      <div class="blogs__content">
        <h5>By {{post.author}}</h5>
        <h6>{{post.timeStamp}}</h6>
        <h4>{{post.title}}</h4>
        <p>{{post.Content|slice:"50"}}</p>
        {% if request.user.is_authenticated %}
        <a href="/blog/{{post.slug}}"><i>Read More</i></a>
        {% else %}
        <p class="text-danger">Please <a href="/signup/">sign up</a> to continue.</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <a href="/blog/" class="type">
    <button class="button-70" role="button"><span>Explore More</span></button></a>
</section>
{% endblock %}