{% extends 'htmlfile/base.html' %}
{% block title%} login page | Arjitech{% endblock %}
{% block body %}
{% load static %}
<div class="container mt-5 ">
  <div class="row">
    <div class="col-md-8">
      <img class="img-thumbnail"style="width: 60%;border-radius:5%;"
        src="https://images.unsplash.com/photo-1593134257782-e89567b7718a?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="">
      <img class="img-thumbnail" src="/static/img/ark.png" alt="" />
    </div>

    <div class="col-md-4 mt-3 ">
      <h3 class=" text-center text-black">SignUp Here</h3>
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong></strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}


      <form action="/signup/" method="post">
        {% csrf_token %}

        <label class="text-black">UserName</label>
        <div class="form-group">
          <input type="text" class="form-control" name="username" autocomplete="off" required />
        </div>
        <label class="text-black mt-2">Email</label>
        <div class="form-group">
          <input type="email" class="form-control" name="email" autocomplete="off" required />
        </div>

        <label class="text-black mt-2">Password</label>
        <div class="form-group">
          <input type="password" class="form-control" name="pass1" autocomplete="off" required />
        </div>
        <label class="text-black mt-2">Confirm Password</label>
        <div class="form-group">
          <input type="password" class="form-control" name="pass2" autocomplete="off" required />
        </div>
        <div class="form-check m-2">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
          <label class="form-check-label text-info" for="flexCheckIndeterminate" required>
            check Again
          </label>
        </div>
        <div class="d-grid gap-2 mt-4">
          <button class="btn btn-light border border-primary" type="submit">SignIn</button>
        </div>
      </form>
      <br /><br />
      <p class="text-black">Already User? <a href="/login/"> Login</a></p>
      <h5>Notes :</h5>
      <ul>
        <li>Fill carefully .</li>
        <li>Password must be at least 8 characters long .</li>
        <li>Password must contain at complex . </li>
      </ul>
    </div>
  </div>
</div>
{% endblock%}