{% extends 'htmlfile/base.html' %}
{% block title%} logout page | Arjitech{% endblock %}
{% block body %}
{% load static %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 " >
      <a href="/"><img class="img-thumbnail ml-5"style="width: 50%;border-radius:5%;"
          src="https://images.unsplash.com/photo-1517849845537-4d257902454a?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="" /></a>
    </div>
    <div class="col-md-4 mt-3">
      <br><br>
      <h3 class="text-black text-center">Login Here</h3>
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong></strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      <form action="/login/" method="post">
        {% csrf_token %}

        <label class="text-black">UserName</label>
        <div class="form-group">
          <input type="text" class="form-control" name="username" Required>
        </div>
        <label class="text-black mt-2">Password</label>
        <div class="form-group">
          <input type="password" class="form-control" name="pass1" Required>
        </div>
        <div class="d-grid gap-2 mt-4">
          <button class="btn btn-light border border-primary" type="submit">Login</button>
        </div>
      </form>
      <br><br>
      <p class="text-black">Not a User? <a href="/signup/">Signup</a></p>
      <h5>Notes :</h5>
      <ul>
        <li>Fill carefully .</li>
        <li>Username as like you use in signup</li>
        <li>Password same as you use in signup. </li>
      </ul>
    </div>
  </div>
</div>
{% endblock%}